.blog-post-detail {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  max-width: 1800px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 5px;
}

.blog-post-detail h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin-bottom: 15px;
  color: #333;
}

.blog-post-detail h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 20px;
  color: #555;
}

.blog-post-detail p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.blog-post-detail p a {
  color: red;
  text-decoration: none;
  transition: color 0.3s;
}

.blog-post-detail p a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.blog-post-detail img:first-of-type {
  display: block; /* This ensures the image is treated as a block-level element */
  width: 100%; /* The image will take the full width of its container */
  max-width: 1200px;
  max-height: 630px; /* The image will not exceed 630px in height */
  height: auto; /* Height will adjust automatically based on the width while preserving aspect ratio */
  margin: 20px auto; /* Centers the image horizontally and adds 20px margin at the bottom */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
