.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  background-color: #ddd;
}

.timeline-item {
  position: relative;
  margin: 50px 0;
}

.timeline-date {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.timeline-dot {
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -5px;
  background-color: #ddd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.timeline-content {
  position: relative;
  margin-left: 70px;
}

.timeline-content-right {
  text-align: right;
}

.timeline-content-left {
  text-align: left;
}

.timeline-title {
  margin-top: 0;
  font-size: 24px;
}

.timeline-description {
  font-size: 18px;
  line-height: 1.4;
}

.timeline-item:nth-child(odd) .timeline-content {
  margin-left: 0;
  margin-right: 70px;
}

.timeline-item:nth-child(odd) .timeline-dot {
  left: auto;
  right: 50%;
}

.timeline-item:nth-child(even) .timeline-dot {
  left: 50%;
}
